<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,234},{45,92}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,60},{45,92}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,374},{47,88}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,64},{47,88}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{53,86}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{53,86}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{53,90}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,63},{53,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{45,90}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,62},{45,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,100},{49,92}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,60},{49,92}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,194},{61,90}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,62},{61,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,147},{85,92}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,60},{85,92}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{75,90}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,62},{75,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{53,92}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,60},{53,92}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{45,98}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,54},{45,98}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,53},{45,102}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,51},{45,102}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{47,90}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,62},{47,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,395},{45,90}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,62},{45,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,346},{47,90}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,62},{47,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,281},{63,90}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,62},{63,90}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{79,94}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{79,94}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,106}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,46},{67,106}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,104}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,48},{49,104}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
            <key>sprite_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{47,98}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,54},{47,98}}</string>
                <key>sourceSize</key>
                <string>{275,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:912b87f8577a7755d6c8c37d55e362cc$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
