<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nightelf_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1200},{565,579}}</string>
                <key>offset</key>
                <string>{-74,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,156},{565,579}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,2},{579,575}}</string>
                <key>offset</key>
                <string>{-75,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,161},{579,575}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1210},{563,597}}</string>
                <key>offset</key>
                <string>{-63,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,105},{563,597}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,601},{549,597}}</string>
                <key>offset</key>
                <string>{-62,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,110},{549,597}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,583},{537,577}}</string>
                <key>offset</key>
                <string>{-63,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,120},{537,577}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2308,1162},{561,563}}</string>
                <key>offset</key>
                <string>{-76,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,130},{561,563}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2318,2},{573,555}}</string>
                <key>offset</key>
                <string>{-76,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,140},{573,555}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2827,577},{553,553}}</string>
                <key>offset</key>
                <string>{-71,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,150},{553,553}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{597,569}}</string>
                <key>offset</key>
                <string>{-78,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,167},{597,569}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,621},{605,571}}</string>
                <key>offset</key>
                <string>{-82,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,169},{605,571}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,607},{601,577}}</string>
                <key>offset</key>
                <string>{-89,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,167},{601,577}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{603,571}}</string>
                <key>offset</key>
                <string>{-89,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,160},{603,571}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{609,581}}</string>
                <key>offset</key>
                <string>{-83,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,153},{609,581}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1232},{607,593}}</string>
                <key>offset</key>
                <string>{-78,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,138},{607,593}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{593,617}}</string>
                <key>offset</key>
                <string>{-72,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,117},{593,617}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
            <key>nightelf_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{577,609}}</string>
                <key>offset</key>
                <string>{-67,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,106},{577,609}}</string>
                <key>sourceSize</key>
                <string>{1201,831}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nightelf.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f450559dfd147b13dbf10cf9e3b423df$</string>
            <key>textureFileName</key>
            <string>nightelf.png</string>
        </dict>
    </dict>
</plist>
